.app-container{
    display: grid; 
}

.array-container{
    /* position: absolute; */
    margin-top: 10px;
    margin-left: 2.5vw;
    background-color: rgb(51, 51, 51);
}
.array-element{
    width: 2px;
    background-color: purple;
    display: inline-block;
    margin: 0 1px;
    transition: width 2s;
}
.array-element:hover{
    width: 3px;
    background-color: green;
    display: inline-block;
    margin: 0 1px;
}
.button-section{
    background-color:  rgb(52, 52, 52);
}

p{
    color: aliceblue;
}